#friends_show{
  display:flex;
  min-height: 800px !important;
  box-shadow: 10px 10px 89px -40px rgba(0,0,0,0.45);
}

#friends_left {

}
#friends_mid{
  text-align: center;
}
#friends_right{
  justify-content:space-around;
  flex-direction: column;


}
#friends_show img{
  width:350px;
  height:auto;
  border-radius: 50%;
  box-shadow: 0px 0px 141px -36px $grey;
  position: relative;
  top:12vh;
}
#bookcard{
  background-color: $white;
  justify-content:center;
  margin:0px !important;
  color: $blue;
  border-radius:4px;
  padding: 20px;
  margin-top: 50px !important;
}

#price{
  font-weight: bold;
  background-color: $white;
  justify-content:center;
  margin-top:12vh !important;
  color: $grey;
  border-radius:4px;
  padding: 20px;
}
#activity{
margin-top: 50px;
background-image: url(https://pbs.twimg.com/media/CaXIxQGUEAA1PMU.jpg);
 font-weight: bold;
  background-color: $white;
  justify-content:center;
  color: $grey;
  border-radius:4px;
  padding: 20px;
  height:150px;
}
#review{
  border-bottom-style: solid;
  color: $grey;
  position:relative;
  top:10vh;
  margin-top:5px;

}
