#friends_show{
  display:flex;
  min-height: 800px !important;

}

#friends_left {
background-color:red;
}
#friends_mid{
background-color:green;
}
#friends_right{
background-color: purple;
}
#friends_slideshow{
text-align: center;
background-color:yellow;
height:300px;
}
