<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-name">
    <h4><%= link_to friend.name, friend_path(friend) %></h4>
    <p> owned by <%= friend.user.name%></p>
  </div>
  <div class="card-description">
    <p><%=friend.price%></p>
  </div>
  <div class="card-user">
   <%= image_tag friend.avatar %>
  </div>
  <div class="card-distance">
    <p> 3km </p>
  </div>
</div>

