<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
      <h1>this is the temp index of friends</h1>
    </div>
  </div>
  <div class="row">
    <% @friends.all.each do |friend| %>
      <div class="col-xs-12 col-sm-3">
        <%= render "card", friend: friend %>
      </div>
    <% end %>
  </div>
</div>
