<h1>this is the temp index of friends</h1>
<% @friends.all.each do |friend| %>
  <p><%= link_to friend.name, friend_path(friend) %></p>
  <p>owned by <%= friend.user.name%></p>
  <p><%= friend.price %></p>
<%end%>
