.banner-content{
  height: 500px;
  padding: 50px;
  text-align: center;
  vertical-align: center;
  justify-content:center;
  color:white;
}
.banner{
  background-position: center;
}
.info-boxes{
  text-align:center;
  background-color: #EEEEEE;
  margin-top: 50px;


}

#desc{
  margin-bottom: 10px;

}
.container search{
  padding:0px;
}
