body{
  color:$blue;
  margin-bottom:0;
}
body a{
  color:$grey;
  opacity:0.7;
}
body a:hover{
  color:$grey;
  opacity:0.5;
  text-decoration: none;
}

input{
  background-color: $grey;
  opacity:1;
  border:none;
  padding:10px;
  border-radius:3px;
}
input:hover{
  opacity:0.7
}

.banner-content{
  height: 500px;
  padding: 50px;
  text-align: center;
  vertical-align: center;
  justify-content:center;
  color:$grey;
}
.banner{
  background-position: center;
  box-shadow: inset 1px 1px 10px -4px rgba(0,0,0,0.43);
  margin:0 !important;
  padding: 0 !important;
}
.info-boxes{
  text-align:center;
  margin-top: 50px;
  display: flex;


h1{
  color:$grey;
}

}
.info-box{
   background-color: $orange;
     box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.30);
     margin:5px;
     border-radius: 5px;
}

#desc{
  margin-bottom: 10px;

}
.container search{
  padding:0px;
}

body {
  background-color:$white;
}
