
<div class="container search">
<div class="row">
<div class="col-md-12">
  <form class="form-section">
  <div class="row">
    <div class="form-group col-md-8" id="search">
      <label class="sr-only">City</label>
      <input type="text" class="form-control" id="left" placeholder="City">
    </div>
    <div class="dropdown col-md-2" id="dropdowncol">
<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only">City</label>
      <input type="text" class="form-control" id="left" placeholder="City">
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" id="middle" type="button" data-toggle="dropdown">Activity
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Geek</li>
        <li>Sports</li>
        <li>Eating</li>
        <li>Drugs</li>
        <li>Walks</li>
        <li>Fun buddy ;)</li>
      </ul>
    </div>
    <button type="submit" class="btn btn-default col-md-2" id="right">
      <i class="fa fa-lg fa-search" aria-hidden="true"></i>
    </button>
    </div>
  </form>
  </form>
  </div>
</div>
</div>


