<div class="banner" style="background-image: linear-gradient(-225deg, rgba(70, 10, 0, 0.7) 0%, rgba(50,10,0,0.5) 50%), url('http://www.topkool.com/fr/wp-content/uploads/2012/05/friends-032.jpg');">
  <div class="banner-content">
    <h1>Bienvenue sur Looking For Potos!</h1>
    <p>Trouve un poto près de chez toi!</p>
    <%= render 'shared/searchbar' %>
</div>
<div class="container info-boxes" id="desc">
<div class="info-box col" >
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam obcaecati cupiditate sit accusamus, dolores adipisci molestias provident esse. Incidunt inventore repudiandae adipisci et cupiditate soluta. Esse amet reiciendis, repudiandae? Hic.</p>
</div>
<div class="info-box col" id="2">
<i class="fa fa-user-circle-o" aria-hidden="true"></i>
  <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum commodi iusto ipsum repellat asperiores velit adipisci eaque assumenda totam accusantium laboriosam, libero, deleniti, recusandae unde quisquam consequuntur repellendus nisi explicabo!</P>
</div>
<div class="info-box col" id="3">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quas, modi quidem quibusdam commodi est eligendi ea labore amet sequi quam deserunt laborum, quasi eveniet magnam! Eligendi blanditiis, quia recusandae.</p>
</div>
</div>
</div>
