<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 119, 51, 0.7) 0%, rgba(255,255,255,0.25) 50%), url('http://www.topkool.com/fr/wp-content/uploads/2012/05/friends-032.jpg');">
  <div class="banner-content">
    <h1>Bienvenue sur Looking For Potos!</h1>
    <p>Trouve un poto près de chez toi!</p>
    <%= render 'shared/searchbar' %>
</div>
<div class="container info-boxes" id="desc">
<div class="info-box col" >
  <p>Are you lonely? Do you lack that last friend to joing a gaming lobby? Do you just want to find a relaxed person to share a walk with you? Looking for potos is the service for you! Find a friend for your favourite social activity on Loue un poto!</p>
</div>
<div class="info-box col" id="2">
<i class="fa fa-user-circle-o" aria-hidden="true" style="color: black"></i>
  <P>Looking for potos connects people with no friends , with people who have too many! </P>
</div>
<div class="info-box col" id="3">
  <p>Do you have too many friends? Do you wish you could earn money by letting Jim have a game of football with someone else? With looking for potos you can simply put up a friend for rent, in the comfort of your own browser!</p>
</div>
</div>
</div>
