#searchbar_left input{
  opacity: 1 !important;
  border-radius:20px 0px 0px 20px;
  background-color: $white;
}
#searchbar_left {
margin: 0px !important;
padding: 0px !important;
opacity: 1 !important;
}
#searchbar_search{


}
#searchbar_middle input{
  opacity: 1 !important;
  background-color: $white;
  color:$lightdark;
}
#searchbar_middle {
  margin: 0px !important;
padding: 0px !important;
opacity: 1 !important;

}

#searchbar_dropdowncol{
}
#searchbar_right input{
  opacity: 1 !important;
  border-radius: 0px 20px 20px 0px;
  background-color: $white;
  color:$lightdark;

}
#searchbar_right {
  margin: 0px !important;
padding: 0px !important;
opacity: 1 !important;
}

