// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
$dark: #30231d;
$lightdark: #6a5750;
$orange: #b5a397;
$white: #f6f1ed;
// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "components/searchbar";
@import "pages/index";
@import "layouts/template";
@import "pages/friends/index";
@import "pages/friends/show";
