#register{
text-align: center;
margin-bottom: 0;
}

#register input{
  background-color: $dark;
  opacity:1;
  border:none;
  padding:10px;
  border-radius:5px;
  color: $white;
}

#register input:hover{
  opacity:0.7
}
#register label{
  color: $white;
}
