<div id="dashboard">
  <div id="profilebar">
  </div>
  <div id="friendcards">
  <% Friend.all.where(user_id: current_user.id) do |friend| %>
  <%= render "card", friend: friend %>
  <% end %>
  <%= link_to "add ton poto" , new_friend_path %>
  </div>
  <p>test</p>
  <div id="booking ">
  </div>
</div>
